footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#fa-icons-footer{
    margin-bottom: 1rem;
    text-align: center;
    a{
        
       margin-right: 1.5rem;
        i{
            color: $white;
        };
    }
}

#copyright{
    text-align: center;
    color: $white;
    a{
        color: $white;
        text-decoration: none;
    }
}