 header{
     max-height: 100vh;
     margin-right: 0;
     #header{
         padding-top: 1.7rem;
         padding-bottom: 1.7rem;
     }
 }
 
 #address-header{
     margin-bottom: 1.4rem;
 }

 #brand-lg{
    text-align: center;
    img{
        height: 12rem;
        width: 14rem;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;          
    }
}

 #fa-icons-header{
     text-align: right;
     a{
        margin-right: 1.5rem;
         i{};
     }
 }

 #tagline{
     text-align: center;
     padding: 1rem;
     text-transform: uppercase;
     font-family: 'Montserrat', sans-serif;
     font-size: 1.3rem;
     color: $white;
 }

 //find banner class => _classes.scss
 #banner{} 

 #hamburger-checkbox{
     display: none;
 }

 #hamburger-icon{
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 99;
    span{
            display: block;
            margin:  15px 0;
            background: black;
            height: 3px;
            width: 40px;
            transition: background-color 700ms;
            &::before{
                content: "";
                display: block;
                width: 40px;
                height: 3px;
                background: black;
                transform: translateY(10px);
                transition: transform 300ms;
            }
            &::after{
                content: "";
                display: block;
                width: 40px;
                height: 3px;
                background: black;
                transform: translateY(-13px);
                transition: transform 300ms;
            }
    }
 }

 #brand-sm{
     z-index: 99;
    text-align: center;
    a{
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
        display: block;
        text-decoration: none;
        padding: 0.5rem 0;
        color: $primary-color-4;
        text-shadow: -0.1rem 0.05rem 1px $black;
        transition: color 1s linear;
    }
    // img{
    //     position: relative;
    //     z-index: 99;
    //     height: 5rem;
    //     width: 6rem;
    //     margin: 0.7rem 0 0.4rem 0;        
    // }
 }

 #nav-menu-main{
     nav{
         padding-top: 0.6rem;
         padding-bottom: 0.6rem;
         ul{
             justify-content: center;            
             li{
                a{  
                    padding: 0.7rem;
                    text-transform: uppercase;
                    transition: background-color 300ms, color 300ms ease-in;
                    user-select: none;
                    &:hover{
                        background: $secondary-color-2;
                    }
                }
             }
         }
     }
 }



            /**** SMALL SCREEN VERSION****/
 @media (max-width: 800px){
    #cover-screen{          
        position: fixed;    
        top: 0;
        left: 0; 
        height: 100vh;
        width: 100vw;
        transition: background 500ms;
        background: rgba(0, 0, 0, 0.1);
        z-index: -999;
    }

    #header-lv-1{
        display: none;
    }
    #tagline{
        display: none;
    }

    //display: none to display: block interferes with rgba color transition. I am using visibilty: hidden to visibility: visible instead.
    #nav-menu-main{
        visibility: hidden;
        //display: none;  
        nav ul li a{
            color: rgba(255, 255, 255, 0); 
            transition: color 900ms ease;               
        }
    } 

    #hamburger-checkbox{
        &:checked ~ #nav-menu-main{
            //display: block;
            visibility: visible;
            nav ul li a{color:rgba(255, 255, 255, 0.999);}
        }
        &:checked ~ #cover-screen{
            background: rgba(0, 0, 0, 0.7);
            z-index: 98;
        }
        &:checked ~ #hamburger-icon{
            span{
                background: rgba(255, 255, 255, 0);
                &::before{
                    content: "";            
                    background: white;
                    transform:  translateY(0) rotate(45deg);
                }
                &::after{
                    content: "";
                    background: white;
                    transform:  translateY(-3px) rotate(-45deg) ;
                }
            }
        }

        &:checked ~ #brand-sm a{
            color: $primary-color-1;
        }
    }

    #hamburger-icon{
        display: block;      
    }

     #nav-menu-main{
         //display: none;
         position: absolute;
         visibility: hidden;  
         top: 0;
         left: 0;
         width: 100%;
         z-index: 98;
         //background: rgba(14, 14, 14, 0.5);
         nav{
             padding-top: 7rem;
             padding-bottom: 0;
            ul{
                flex-direction: column;
                li{
                    display: block;
                    text-align: center;     
                    a{
                        width: 100%;
                        &:hover{
                            background: $secondary-color-5;
                            color: white;
                        }
                    }
                } 
            }
         }
     }
}

@media(max-width: 700px){
    #brand-sm{
        padding-left: 1.5rem;
    }
}





