

#welcome{
    text-align: center;
    span{
        display: block;
        padding-top: 1rem;
        font-family: 'Libre Baskerville', serif;
        font-size: 3rem;
        font-weight: 100;
        color: $primary-color-4;
    }
    h1{
        padding: 0.5 0 0.5 0;
        font-size: 3rem;
        letter-spacing: 0.1rem;
        font-style: italic;
        color: $primary-color-4;
    }
}

#delivery-link{
    position: relative;
    margin-bottom: 4rem;
    z-index: 3;
    >div{
        display: inline-block;
        border-radius: 100px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        background: $primary-color-3;
        a{
            display: block;
            border-radius: 100px;
            text-decoration: none;
            color: $white;
            font-size: 1.4rem;
            padding: 2rem;
            text-transform: capitalize;
            &:hover{
                background: $primary-color-2;
                color: white;
            }
        }
    }
}

#main-col-2{
    >div{
        padding-top: 1rem;
    }
}

@media (max-width: 700px){
    #main-cols{
        flex-direction: column;   
    }
    
    #main-col-1{  
        margin-right: 0;
        order: 2;
    }
    
    #main-col-2{
        order: 1;
        margin-right: 0;
    }
    .container{
        padding: 0;
    }
}