#welcome-2{
    text-align: center;
    h1{
        display: block;
        padding-top: 1rem;
        font-family: 'Libre Baskerville', serif;
        font-size: 3rem;
        font-weight: 100;
        color: $primary-color-4;
    }
}

#banner-our-vision{
    background-image: url(images/banner-our-vision.jpg);
}