/*COLORS*/
/*BACKGROUNDS*/
.bg-1 {
  background: #e9f9ff;
}

.bg-2 {
  background: #fdfdfd;
}

.bg-3 {
  background: #333;
}

.bg-4 {
  background: #015f88;
}

.bg-5 {
  background: #d88526;
}

.bg-other {
  background: #ffe9c8;
}

.bg-darken {
  background: rgba(51, 51, 51, 0.3);
}

/*FONTS*/
/*RESET*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
  font-style: italic;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-style: italic;
}

p {
  line-height: 1.5rem;
}

/*SMALLER TEXT FOR MOBILE*/
@media (max-width: 700px) {
  :root {
    font-size: 12px;
  }
}

/*CONTAINERS*/
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1200px) {
  .container-2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.text-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/*LAYOUT*/
.cols-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cols-even > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  margin-right: 1.9rem;
}

.cols-even img {
  width: 100%;
}

.cols-even > :last-child {
  margin-right: 0;
}

.rows-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rows-even > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rows-even img {
  width: 100%;
}

.rows-even > :last-child {
  margin-bottom: 0;
}

.cols-even > .rows-even {
  margin-top: 0;
}

.cols-aside-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cols-aside-left > * {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.cols-aside-left img {
  width: 100%;
}

.cols-aside-left > :first-child {
  width: 200px;
  margin-left: 0;
}

.cols-aside-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cols-aside-right > * {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.cols-aside-right img {
  width: 100%;
}

.cols-aside-right > :last-child {
  width: 200px;
  margin-right: 0;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*BORDER*/
.border-bottom {
  border-bottom: solid #ddd 1px;
}

.border-top {
  border-top: solid #ddd 1px;
}

/*FONT AWESOME ICON*/
.fa-icon-sm a i {
  font-size: 2rem;
  color: #666;
}

/*DISPLAY*/
.hide {
  display: none;
}

.nav-row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-row ul li {
  list-style: none;
}

.nav-row ul li a {
  display: block;
  padding: 15px;
  color: black;
  text-decoration: none;
}

/*BANNER*/
.banner {
  position: relative;
  height: calc(100vh - 30.5rem);
  background: url("images/banner.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (max-width: 700px) {
  .banner {
    background-size: auto 190%;
    height: 40vw;
  }
}

@media (min-width: 1200px) {
  .banner {
    background-size: 100%;
  }
}

.banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.01);
}

/*ACTIVE*/
.active {
  background: #dfaf68;
  color: #fdfdfd !important;
}

.active:hover {
  background: #dfaf68 !important;
  color: #fdfdfd !important;
}

/*MARGIN*/
.mg-bottom {
  margin-bottom: 2rem;
}

/*LINKS*/
.link-1 {
  color: #d88526;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  text-decoration: none;
}

.link-1:hover {
  color: #dfaf68;
}

header {
  max-height: 100vh;
  border: solid;
  margin-right: 0;
}

header #header {
  padding-top: 0.5rem;
}

#address-header {
  margin-bottom: 20px;
}

#brand-lg {
  text-align: center;
}

#brand-lg img {
  height: 12rem;
  width: 14rem;
  margin-top: -5px;
  margin-bottom: -5px;
}

#fa-icons-header {
  text-align: right;
}

#fa-icons-header a {
  margin-right: 1.5rem;
}

#tagline {
  text-align: center;
  padding: 1.5rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #fdfdfd;
}

#nav-menu-main nav {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

#nav-menu-main nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-menu-main nav ul li a {
  padding: 1rem;
  text-transform: uppercase;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

#nav-menu-main nav ul li a:hover {
  background: #aee7ff;
}

#brand-sm {
  text-align: center;
}

#brand-sm img {
  height: 5rem;
  width: 6rem;
  margin: 0.7rem 0 0.4rem 0;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#fa-icons-footer {
  margin-bottom: 1rem;
  text-align: center;
}

#fa-icons-footer a {
  margin-right: 1.5rem;
}

#fa-icons-footer a i {
  color: #fdfdfd;
}

#copyright {
  text-align: center;
  color: #fdfdfd;
}

#copyright a {
  color: #fdfdfd;
  text-decoration: none;
}

#welcome {
  text-align: center;
}

#welcome span {
  display: block;
  padding-top: 1rem;
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
  font-weight: 100;
}

#welcome h1 {
  padding: 0.5 0 0.5 0;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-style: italic;
}

#delivery-link {
  position: relative;
  margin-bottom: 4rem;
}

#delivery-link > div {
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background: #dfaf68;
  z-index: 99;
}

#delivery-link > div a {
  display: block;
  border-radius: 100px;
  text-decoration: none;
  color: #fdfdfd;
  font-size: 1.4rem;
  padding: 2rem;
  text-transform: capitalize;
}

#delivery-link > div a:hover {
  background: #ffbe98;
  color: white;
}

@media (max-width: 700px) {
  #header-lv-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #header-lv-1 * {
    margin-right: 0;
    text-align: center;
  }
  #header-lv-1 :nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #header-lv-1 :first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=style.css.map */